* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ade8f4;
  color: #F9F7F3;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-top: 20px;
}

form {
  margin-top: 50px;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.todo-input {
  width: 30vh;
  height: 25px;
  border-radius: 0px;
  border-style: none;
  background-color: #F9F7F3;
  outline: none;
  box-shadow: none;
}

.todo-input:focus{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.filter-todo {
  height: 25px;
  margin-left: 5px;
  font-weight: 700;
  border-radius: 0px;
  outline: none;
}

.todo-list {
  margin-top: 50px;
  margin-left: 50px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  padding-bottom: 5px;
}

.todo-item {
  color: #1D3557;
  background-color: #F9F7F3;
  display: inline;
  font-size: 20px;
  width: 500px;
  padding-left: 10px;
  padding-right: 10px;
}

.todo-button{
  margin-left: 5px;
  height: 25px;
  width: 70px;
  background-color: #E63946;
  color: #F1FAEE;
  border-style: none;
  font-weight: 700;
  font-size: 15px;
}

.todo-button:hover {
  background-color: #F1FAEE;
  color: #E63946;
  cursor: pointer;
}

.todo-button:active{
  cursor: default;
}

.todo-button-delete{
  margin-left: 5px;
  height: 25px;
  width: 70px;
  background-color: #E63946;
  color: #F1FAEE;
  border-style: none;
  font-weight: 700;
  font-size: 15px;
}

.todo-button-delete:hover {
  background-color: #F1FAEE;
  color: #E63946;
  cursor: pointer;
}

.todo-button-delete:active{
  cursor:default;
}

.todo-button-check {
  margin-left: 5px;
  height: 25px;
  width: 70px;
  background-color: #2ec4b6;
  color: #F1FAEE;
  border-style: none;
  font-weight: 700;
  font-size: 15px;
}

.todo-button-check:hover {
  background-color: #F1FAEE;
  color: #2ec4b6;
  cursor: pointer;
}

.todo-button-check:active{
  cursor:default;
}